/* CSS Selectors */
* {
  font-family: "Open Sans", sans-serif;
  color: #2d3c49;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 10px;
  border-bottom: 3px solid #7d97ad;
}

a {
  font-size: 0.9em;
  padding-top: 48px;
  padding-bottom: 48px;
  text-decoration: none;
  color: black;
}

/* Class Selectors */
/* Header Section */
.container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 25%;
  transition: all 1s;
}

.title h1 {
  font-size: 2em;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  text-align: right;
}

/* Featured Work Section */
.section-name {
  color: #7d97ad;
}

main.featured-work h2 {
  font-size: 1.4em;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* Media Queries */
/* Ipad size */
@media screen and (min-width: 760px) {
  main {
    flex-direction: row;
  }

  header {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .logo {
    width: 15%;
  }

  .portfolio {
    display: flex;
    margin-top: 10px;
  }

  .featured-work {
    margin-top: 20px;
  }
}

/* Desktop Size and Up*/
@media screen and (min-width: 900px) {
  .container {
    margin: auto auto 40px;
    max-width: 900px;
  }

  .portfolio {
    position: relative;
    left: -40px;
    width: 109%;
  }
}